html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}
.logo-lg b img{
	width: 121px;
	height: 20px;
}
.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:550px;padding-top:20px;
}
.center-box{
	height: 1050px;
	overflow: hidden;
}
.top{
	padding: 10px 0 0 0px;
	height: 245px;
}
.top header,.center header{
	font-size: 16px;
	margin: 0 0 10px 10px;
	font-weight: bold;
}
.top ul,.center ul,.after ul{
	width: 40%;
	height: 245px;
	line-height: 28px;
}
.top ul li i,.center ul li i,.after ul li i{
	margin: 0 10px 0 10px;
}
.top ul nav,.center ul nav,.after ul nav{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #dadada;
}
.top ul nav a,.center ul nav a,.after ul nav a{
	margin: 0 60px;
}
.top ul  li .fa-folder-open,.center ul  li .fa-folder-open,.after ul  li .fa-folder-open{
	color: #ffae00;
}
.top ul  li .fa-file-word-o,.center ul  li .fa-file-word-o,.after ul  li .fa-file-word-o{
	color: #0873d6;
}
.top .main_01,.center .main_03,.after .main_05{
	float:left;
	background: #fff;
}
.top .main_02,.center .main_04,.after .main_06,.after .main_07{
	background: #fff;
	margin: 0 0 0 50px;
	float: left;
}
.center{
	margin-top: 30px;
}
.center ul{
	height: 400px;
}
.center .main_03,.center .main_04{
	height: 450px;
}
.center .main_03 .fa-file-excel-o,.center .main_04 .fa-file-excel-o{
	color: #0f0;
}
.after ul{
	width: 20%;
}
.after{
	margin-top: 50px;
}
.top .main_01,.top .main_02{
	position: relative;
	overflow: hidden;
}
.top .main_01 nav,.top .main_02 nav{
	position: absolute;
	bottom: 0px;
}
.center .main_03,.center .main_04{
	position: relative;
	overflow: hidden;
}
.center .main_03 nav,.center .main_04 nav{
	position: absolute;
	bottom: 0px;
}
.after .main_05,.main_06,.main_07{
	position: relative;
	overflow: hidden;
}
.after .main_05 nav,.main_06 nav,.main_07 nav{
	position: absolute;
	bottom: 0px;
}